<div>
  <div class="pt-6 px-4 sm:px-6 lg:px-8 dark:bg-gray-700">
    <nav
      class="flex items-center justify-between sm:h-10 lg:justify-start"
      aria-label="Global"
    >
      <div class="flex items-center flex-grow flex-shrink-0 lg:mb-4">
        <div class="flex items-center justify-between w-full md:w-auto">
          <div class="cursor-pointer text-lg text-white">
            <i class="fas fa-bars"></i>
          </div>

          <a href="#">
            <span class="sr-only">Stiv.dev</span>
            <img
              class="h-8 w-auto sm:h-12 ml-8"
              src="../../../assets/img/logo.png"
            />
          </a>
          <div class="-mr-2 mb-2 flex items-center md:hidden">
            <button
              type="button"
              class="
                bg-dark
                rounded-md
                p-2
                inline-flex
                items-center
                justify-center
                text-gray-400
                hover:text-gray-500 hover:bg-gray-100
                focus:outline-none
                focus:ring-2
                focus:ring-inset
                focus:ring-indigo-500
              "
              aria-expanded="false"
              (click)="menu()"
            >
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/menu -->
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8 lg:mb-4">
        <a
          href="#"
          class="
            font-medium
            text-gray-500
            hover:text-gray-900
            dark:text-white
            cursor-pointer
          "
          routerLink="projects"
          >Projects</a
        >

        <a
          class="
            font-medium
            text-gray-500
            hover:text-gray-900
            dark:text-white
            cursor-pointer
          "
          ><i class="fab fa-github"></i
        ></a>

        <a
          class="
            font-medium
            text-gray-500
            hover:text-gray-900
            dark:text-white
            cursor-pointer
          "
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </nav>
  </div>

  <!--
          Mobile menu, show/hide based on menu open state.

          Entering: "duration-150 ease-out"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        -->
  <div
    class="
      absolute
      top-0
      inset-x-0
      p-2
      transition
      transform
      origin-top-right
      md:hidden
    "
    [ngClass]="isOpen ? 'hidden' : ''"
  >
    <div
      class="
        rounded-lg
        shadow-md
        bg-white
        ring-1 ring-black ring-opacity-5
        dark:bg-gray-700
      "
    >
      <div class="px-5 pt-4 flex items-center justify-between">
        <div>
          <img class="h-8 w-auto" src="../../../assets/img/logo.png" alt="" />
        </div>
        <div class="-mr-2">
          <button
            type="button"
            class="
              bg-dark
              rounded-md
              p-2
              inline-flex
              items-center
              justify-center
              text-gray-400
              hover:text-gray-500 hover:bg-gray-100
              focus:outline-none
              focus:ring-2
              focus:ring-inset
              focus:ring-indigo-500
            "
            (click)="menu()"
          >
            <span class="sr-only">Close main menu</span>
            <!-- Heroicon name: outline/x -->
            <svg
              class="h-6 w-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="px-2 pt-2 pb-3 space-y-1">
        <a
          routerLink="projects"
          class="
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
            text-gray-700
            hover:text-gray-900 hover:bg-gray-50
            dark:text-white
          "
          >Projects</a
        >

        <a
          class="
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
            text-gray-700
            hover:text-gray-900 hover:bg-gray-50
            dark:text-white
          "
          ><i class="fab fa-github mr-2"></i>Github</a
        >

        <a
          class="
            block
            px-3
            py-2
            rounded-md
            text-base
            font-medium
            text-gray-700
            hover:text-gray-900 hover:bg-gray-50
            dark:text-white
          "
          ><i class="fab fa-linkedin-in mr-2"></i>Linkedin</a
        >
      </div>
    </div>
  </div>
</div>
