<div class="bg-white flex p-6">
  <h6 class="flex-grow text-2xl font-bold">Projects</h6>
  <p>Keneth Sandoval</p>
</div>

<!--------------------------SIDEBAR----------------------->
<div class="flex h-screen">
  <div class="p-6 border-r hidden md:block w-64 border-gray-200">
    <h6 class="font-bold mb-6">Acciones Rapidas</h6>
    <ul>
      <li class="flex mb-8">
        <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
          <i class="fab fa-github"></i>
        </div>
        <span class="self-center">Inicio</span>
      </li>

      <li class="flex mb-8">
        <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
          <i class="fab fa-github"></i>
        </div>
        <span class="self-center">Inicio</span>
      </li>
    </ul>

    <h6 class="font-bold mb-4">Configuraciones</h6>
    <ul>
      <li class="flex mb-8">
        <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
          <i class="fab fa-github"></i>
        </div>
        <span class="self-center">Inicio</span>
      </li>

      <li class="flex mb-8">
        <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
          <i class="fab fa-github"></i>
        </div>
        <span class="self-center">Inicio</span>
      </li>
    </ul>
  </div>
  <!-----------------------END SIDEBAR----------------------->

  <div class="p-6 w-full">
    <h1>Grid</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <p>Col-6</p>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-sm">
        <p>Col-6</p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mb-6">
      <div class="bg-white p-6 rounded-lg shadow-sm">
        <p>Col-4</p>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-sm">
        <p>Col-4</p>
      </div>

      <div class="bg-white p-6 rounded-lg shadow-sm">
        <p>Col-4</p>
      </div>
    </div>
  </div>
</div>
