<!--------------------------SIDEBAR----------------------->
<div
  class="h-full p-6 border-r w-64 border-gray-200"
  [ngClass]="this.menuService.isOpen ? 'hidden' : 'md:block'"
>
  <h6 class="font-bold mb-6 dark:text-white">Acciones Rapidas</h6>
  <ul>
    <li class="flex mb-8">
      <div
        class="
          bg-white
          shadow-sm
          p-2
          mr-3
          rounded-lg
          dark:bg-gray-700 dark:text-white
        "
      >
        <i class="fab fa-github"></i>
      </div>
      <span class="self-center">Inicio</span>
    </li>

    <li class="flex mb-8">
      <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
        <i class="fab fa-github"></i>
      </div>
      <span class="self-center">Inicio</span>
    </li>
  </ul>

  <h6 class="font-bold mb-4">Configuraciones</h6>
  <ul>
    <li class="flex mb-8">
      <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
        <i class="fab fa-github"></i>
      </div>
      <span class="self-center">Inicio</span>
    </li>

    <li class="flex mb-8">
      <div class="bg-white shadow-sm p-2 mr-3 rounded-lg">
        <i class="fab fa-github"></i>
      </div>
      <span class="self-center">Inicio</span>
    </li>
  </ul>
</div>
<!-----------------------END SIDEBAR----------------------->
