<div class="flex h-screen">
  <app-sidebar></app-sidebar>
  <div class="p-6 w-full">
    <div class="flex items-center justify-between">
      <button
        class="
          hover:bg-blue-100
          flex
          items-center
          rounded-md
          bg-light-blue-100
          text-light-blue-600 text-sm
          font-medium
          px-4
          py-2
          mb-4
          dark:text-white dark:hover:bg-indigo-700
        "
        (click)="back()"
      >
        <i class="fas fa-arrow-left mr-2"></i>
        Back
      </button>

      <button
        class="
          hover:bg-blue-100
          group
          flex
          items-center
          rounded-md
          bg-light-blue-100
          text-light-blue-600 text-sm
          font-medium
          px-4
          py-2
          mb-4
          dark:text-white dark:hover:bg-indigo-700
        "
      >
        <svg
          class="group-hover:text-light-blue-600 text-light-blue-500 mr-2"
          width="12"
          height="20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6 5a1 1 0 011 1v3h3a1 1 0 110 2H7v3a1 1 0 11-2 0v-3H2a1 1 0 110-2h3V6a1 1 0 011-1z"
          />
        </svg>
        New
      </button>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-6">
      <div
        class="bg-white p-6 rounded-lg shadow-sm dark:bg-gray-700"
        *ngFor="let project of projects"
      >
        <div class="md:flex-shrink-0">
          <img
            class="h-48 w-full object-cover md:h-full md:w-48"
            [src]="project.image"
            alt="image project"
          />
        </div>

        <div class="p-8">
          <div
            class="
              uppercase
              tracking-wide
              text-sm text-indigo-500
              font-semibold
              dark:text-white
            "
          >
            <h3 class="text-lg">{{ project.title }}</h3>
          </div>
          <p class="mt-2 text-gray-500 dark:text-white">
            {{ project.description }}
          </p>
        </div>

        <div class="px-6 pt-4 pb-2">
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
              lg:inline-flex
              hover:cursor-pointer
            "
          >
            <i class="fab fa-github mr-1"></i>Github</span
          >
          <span
            class="
              inline-block
              bg-gray-200
              rounded-full
              px-3
              py-1
              text-sm
              font-semibold
              text-gray-700
              mr-2
              mb-2
              lg:inline-flex
              hover:cursor-pointer
            "
            ><i class="fas fa-globe mr-1"></i>Web</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
